AZURE_EVENT_HUB_CONNECTION_STRING=
AZURE_EVENT_HUB_NAME=
AZURE_EVENT_HUB_CONSUMER_GROUP=$Default
HOME_ASSISTANT_URL=
HOME_ASSISTANT_TOKEN=
FOUNDRY_PROJECT_ENDPOINT=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
